.total h1{
font-weight: bold;
color: #ffffff;
}
.total{
  padding: 70px;
  color: #ffffff;}

.dedit h1{
font-weight: bold;
color: #ffffff;
}
.dedit{
  padding: 50px;
  color: #ffffff
}
.dedit h4{
  text-transform: uppercase;
}

.breadcrumb{

 background-color: transparent;  
}

.main-content{
padding: 0px;
}

.col-lg-12{
padding: 0px;

}

.hide_paneling{

  padding: 20px;
}


.icon-bar{
    border: 0px solid;
    padding: 11px;
    background-color: #a8aab1;
    border-radius: 50%;
    box-shadow: transparent;
    margin-right: 20px;
    color: #ffffff;
    width: 100px;
    height: 100px;
    font-size: 12px;
}

   


/*.modal-content{

  width: 150%;
}*/

.No_records_found{
  text-align: center;
}

#myModal .modal-content {
    padding: 10px;
    width: 90%;
}

#myModal .cardInfo {
    position: absolute;
   top: 40%;
   padding: 0 10px;
   width: 100%;
   line-height: 33px;
}

#myModal .cardNum {
    text-transform: uppercase;
   font-weight: 600;
   font-size: 18px;
   letter-spacing: 4px;
   color: #212121;
}

#myModal .expdt {
    margin-left: 45%;
    color: #212121;
    font-size: 13px;
}

#myModal .cardNme {
    text-transform: uppercase;
    color: #212121;
   font-weight: 600;
}

.access_denind{

  text-align: center;
}

.add_form{
  border: 2px solid;
    border-radius: 5px;
    padding: 20px;
    box-shadow: beige;
    box-shadow: 2px 2px 1px;
}
.topup_table{
  margin-top: 40px;
}