.Admin{
	text-align: center;
    margin-top: 43px;
}

.img_logo{
background-image: url("../images/logo.png");
 border: none;
  height:120px;
  width:200px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;